@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,600&subset=cyrillic');

html, body{
    font-family: 'Vollkorn', serif;
    height: 100%;
    font-size: 16px;
}
.row {
    text-align: center;
    background-color: steelblue;
    font-family: "Georgia", serif, sans-serif;
    font-size: 30px;
  }
.user-block{
    box-shadow: 1.5px 1.5px 10px rgba(0,0,0,0.5);
    background-color: #ffffff;
    padding: 15px 10px 10px 10px;
    margin: 15px 30px 0 0;
    float:right;
}
.nav-stacked > li > a{
    color: rgb(34, 34, 34);
    border-radius: 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.nav-stacked > li > a:hover{
    background-color: rgb(129, 1, 1);
    color: rgb(236, 236, 236);
    transition: 0.3s background-color;
}
.nav-stacked > li > a:not(:hover){
    background-color: none;
    transition: 0.3s background-color;
}
.banner{
    background-color: rgb(236, 236, 236);
    height: 200px;
    width: 100%;
}
.main-content{
    background-color:  rgb(236, 236, 236);
    display: flex;
    margin: 20px 40px 20px 40px;
    padding: 5px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    font-weight: bold;
}
.input-text{
    width: 100%;
    border-width: 0;
    padding: 4px;
    outline: none;
}
.input-text-with-label{
    width: 60%;
    font-size: 16px;
}
.btn-default{
    margin: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0;
    border-width: 0;
    padding: 12px;
    background-color: rgb(34, 34, 34);
    color: rgb(236, 236, 236);
    box-shadow: 1.5px 1.5px 10px rgba(0,0,0,0.5);
}
.btn-default:hover{
    background-color: rgb(129, 1, 1);
    color: rgb(236, 236, 236);
    transition: 0.3s background-color;
}
.btn-default:not(:hover){
    background-color: rgb(34, 34, 34);
    transition: 0.3s background-color;
}
.about-game{
    padding: 15px;
    font-size: 18px;
}
.card-example, .card{
    float: right;
    box-shadow: 1.5px 1.5px 10px rgba(0,0,0,0.5);
    margin: 10px;
}
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px;
}
.cards-container img{
    height: 200px;
    margin: 20px;
    -webkit-transition-duration: 0.5s; /*длительность анимации*/
    opacity: 0.8; /*Начальная прозрачность изображений*/
}   
.card-selected, .cards-container img:hover{
    -webkit-transform:scale(1.1); /*увеличиваем размер до 1.2x*/
    box-shadow:0px 0px 20px rgb(129, 1, 1); /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
    opacity: 1;
}


/* Для горизонтального меню */
.menu {
    list-style: none;
    margin: 0px 0 5px;
    padding: 10px 0 5px;
    text-align: center;
    background: rgb(129, 1, 1);
    box-shadow: 1.5px 1.5px 10px rgba(0,0,0,0.5);
}
.menu li {
      display: inline-block;
      width: 33%;
}
.menu a {
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    font-size: 18px;
    display: inline-block;
    width: 100%;
}
.menu a, .menu a:visited {
    color: rgb(236, 236, 236);
}
.menu a.current, .menu a:hover{
    color: rgb(236, 236, 236);
}
.menu a:before,
.menu a:after {
    content: "";
    position: absolute;
    height: 6px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #222222;
    transition: .8s;
}
.menu a:hover:before, .menu .current:before {left: 0;}
.menu a:hover:after, .menu .current:after {right: 0;}   
/* ------------------------ */
