<div class="main-content">
        <h1>Описание игры</h1>
        <div class="about-game">
          <img src="images/1.png" alt="card example" class="card-example" width="220">
          <p><b>FEVT Fighting</b> – это карточная игра для 2-ух игроков.</p>
          <p><b>Игровое поле</b> представляет собой сетку 3 x 3. Вначале игры каждый игрок составляет себе <b>колоду</b>, состоящую из 5 карт. Оба игрока кладут свои карты на поле по очереди, пока не заполнят его полностью.</p>
          <p>Каждая <b>сторона карты</b> имеет свою <b>силу</b> (сверху, справа, снизу и слева). Сила сторон карты исчисляется от <b>1 до A(10)</b>.</p>
          <p>Когда вы кладете свою карту рядом с картой оппонента, происходит <b>сражение</b>.</p>
          <p>Если сила касающейся стороны на вашей карте больше силы касающейся стороны на карте оппонента, то вы <b>переворачиваете</b> его карту, и она становится вашего цвета.</p>
          <p>Если сила стороны вашей карты слабее или равна силе стороны карты оппонента, то <b>ничего не произойдет</b>.</p>
          <p>Каждый раз, когда вы переворачиваете карту оппонента, вы забираете у него 1 очко. В начале игры оба игрока имеют по 5 очков. <b>Победителем</b> считается тот, у кого больше очков в конце игры, если же очки равны, то это <b>ничья</b>.</p>
        </div>
      </div>