<form method="POST" action="registration" class="main-content" accept-charset="UTF-8">
        <h1>Авторизация</h1><br>
        <label class="input-text-with-label">Логин:<br><input type="text" class="input-text" id="auth_login"></label>
        <label class="input-text-with-label">Пароль:<br><input type="password" class="input-text" id="auth_password"></label>
        <input type="button" value="Войти" class="btn btn-default authorization_btn">
        <script type="text/javascript" src="../js/login.js"></script>
    </form>