<form method="POST" action="createDeck" class="main-content" accept-charset="UTF-8">
    <h1>Выберите пять карт для своей колоды</h1><br>
    <div class="cards-container" id="cards-container">
    </div>
    <input type="button" value="Начать игру" class="btn btn-default createDec_btn">
    <script type="text/javascript" src="../js/game.js"></script>
</form>