<form method="POST" action="registration" class="main-content" accept-charset="UTF-8">
    <h1>Рейтинг игроков</h1><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th> 
                <th>Ник</th> 
                <th>Очки</th> 
            </tr>
        </thead>
        <tbody class="rating_table">

        </tbody> 
    </table>
    <script type="text/javascript" src="../js/rating.js"></script>
</form>