<form method="POST" action="registration" class="main-content" accept-charset="UTF-8">
        <h1>Регистрация</h1><br>
        <label class="input-text-with-label">Имя:<br><input type="text" class="input-text" id="reg_name"></label>
        <label class="input-text-with-label">Логин:<br><input type="text" class="input-text" id="reg_login"></label>
        <label class="input-text-with-label">Пароль:<br><input type="password" class="input-text" id="reg_pass1"></label>
        <label class="input-text-with-label">Подтвердите пароль:<br><input type="password" class="input-text" id="reg_pass2"></label>
        <input type="button" value="Зарегистрироваться" class="btn btn-default registration_btn">
        <script type="text/javascript" src="../js/registration.js"></script>
    </form>